<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="https://www.bcsg.com"><img src="public/images/logo.png"></a>
    </div>
    <div class="navigation-bar">
      <ul class="nav navbar-nav">
        <li id="my-dashboard" class="active-nav"><a href="/">My Dashboard</a></li>
        <li class="nav-space"><a>|</a></li>
        <li id="my-account"><a href="/">My Account</a></li>
        <li class="nav-space"><a>|</a></li>
        <li id="my-payments"><a href="/">My Payments</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>