<div class="jumbotron">
  <div class="container">
    <table class="launch-table">
      <tr>
        <td class="launch-table-column">
          <div class="launchers">
            <img id="first-image" class="sample-image" src="public/images/creditChecker1.png">
            <p class="launch-title">
              Credit Checker
            </p>
            <p class="tips-tutorials">
              <button class="btn btn-primary">Launch</button>
              Tips &amp; tutorials <span class="glyphicon glyphicon-chevron-right"></span>
            </p>
            <a class="upgrade" href="#">Upgrade</a>
          </div>
        </td>
        <td class="launch-table-column"></td>
        <td class="launch-table-column">
          <div class="launchers">
            <img id="second-image" class="sample-image" src="public/images/creditChecker2.png">
            <p class="launch-title">
              Credit Checker
            </p>
            <p class="tips-tutorials">
              <button class="btn btn-primary">Launch</button>
              Tips &amp; tutorials <span class="glyphicon glyphicon-chevron-right"></span>
            </p>
          </div>
        </td>
        <td class="launch-table-column"></td>
        <td class="launch-table-column">
          <div class="launchers">
            <img class="sample-image" src="public/images/businessPlanning1.png">
            <p class="launch-title">
              Business Planning
            </p>
            <p class="tips-tutorials">
              <button class="btn btn-primary">Launch</button>
              Tips &amp; tutorials <span class="glyphicon glyphicon-chevron-right"></span>
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>