
<table class="questions-and-answers-table" ng-repeat="eachQuestionAndAnswer in exampleQuestions">
  <tr class="each-question-row" ng-click="showAnswer(eachQuestionAndAnswer)">
    <td class="question-and-answer-column">
      {{eachQuestionAndAnswer.question}}
    </td>
    <td class="arrowIcon">
      <span class="glyphicon glyphicon-chevron-down glyph"></span>
    </td>
  </tr>
  <tr class="allTheAnswers" ng-show="eachQuestionAndAnswer.show" ng-hide="eachQuestionAndAnswer.show === false">
    <td class="question-and-answer-column">
      {{eachQuestionAndAnswer.answer}}
    </td>
  </tr>
</table>