body {
}

.navbar {
  background-color: white;
  font-size: 12px;
  border-style: none;
}

.sample-image {
  width: 100%;
  border-bottom: 4px solid #4cbfee;
}

.navbar-default .navbar-nav>li.active-nav>a {
  color: #4093D6;
}

.title {
  color: #4093D6;
  font-size: 20px;
  padding-left: 15px;
}

.launchers {
  background-color: white;
  width: 100%;
  height: 250px;
}

.jumbotron {
  background-color: #E3E8E4;
}

table {
  border-collapse: separate;
  border-spacing: 20px;
}

td {
  padding: 10px 0;
}

td img{
  vertical-align: top;
}

p.launch-title {
  padding-top: 40px;
  font-size: 14px;
  text-align: center;
}

div.launchers p.tips-tutorials {
  text-align: center;
  font-size: 11px;
}

.bottom-display {
  width: 100%;
}

div.left-display {
  padding-left: 10%;
  float: left;
  width: 30%;
}

div.right-display {
  float: right;
  width: 60%;
}